{% extends "base.html" %}
{%block title%} 
Tài Khoản
{%endblock title %}

{% block body %}
    <div id="main">
        <div class="container">
            {% if current_user.is_authenticated %}
            <a class="navbar-brand d-flex align-items-center" href="/account">
                <img class="repos" src="static/img/logo.svg", alt="logo">
            </a>
            {% else %}
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img class="repos" src="static/img/logo.svg", alt="logo">
            </a>
            {% endif %}
        <ul class="navbar-nav me-auto">
		{% if phone %}
            <li class="nav-item"><a class="nav-link active; reposphone" href="/" style="font-size: 20px;font-family: 'Alfa Slab One', serif;">Trang Chủ</a></li>
		{% else %}
            <li class="nav-item"><a class="nav-link active; repos2" href="/" style="font-size: 20px;font-family: 'Alfa Slab One', serif;">Trang Chủ</a></li>
		{% endif %}
        </ul>
		{% if phone %}
		<div class="bigboxphone text-center">
		{% else %}
        <div class="bigbox text-center">
		{% endif %}
            <div class="trans box">
            {% if current_user.is_authenticated %}
            <div class="account-info clearfix">
                 <h2 class="posttitle white"> Thông tin tài khoản </h2> <div class="info-detail"> <div class="group"> <div class="label">Username</div> <div class="detail"> {{user}} </div> </div> <div class="group"> </div> <div class="group"> <div class="label">Số Dư</div> <div class="detail">{{bal}}</div> </div> <div class="group"> 
                    <form method="POST" action="/naptien">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="cash" placeholder="Số Tiền Nạp" autofocus="">
                            </div>
                        </div>
                        <button class="button lower is-block is-info is-large is-fullwidth">Nạp</button>
                    </form>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            <p>{{ messages[0] }}</p>
                        </div>
                    {% endif %}
                    {% endwith %}
                    <div class="label"></div> <div class="detail"> </div> </div> </div> 
            </div>
            {% else %}
            <div class="notification is-danger">
                <p>Vui Lòng <a href="/login">Đăng Nhập</a> Để Kiểm Tra Tài Khoản!</p>
            </div>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
{%endblock body%}